* {
  box-sizing: border-box;
  margin: 0; }

body {
  background: #e5e9e0;
  color: #1B3C44; }

.canvas-wrapper {
  position: relative;
  padding: 0 0 200px 0; }

.header {
  padding: 0 0 0 50px; }

@media screen and (max-width: 599px) {
  .header {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; } }

#headerCanvas {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  background: #1B3C44;
  background: radial-gradient(#2e5771, #1b3c44); }

.header h1 {
  padding: 80px 0 0 0;
  font-size: 46px;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 11px;
  color: #EFFED7;
  font-weight: 400; }

.header h3 {
  padding: 25px 0 80px 0;
  font-size: 26px;
  font-family: 'Assistant', sans-serif;
  color: #EFFED7;
  font-weight: 400;
  letter-spacing: 4px; }

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 900px;
  padding: 30px 0 100px 0;
  margin: 0 auto; }

.gallery a {
  color: #EFFED7; }

.gal-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 270px;
  margin: 20px 10px 0 10px; }

.gal-hover {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: transparent;
  z-index: 10;
  transition: all .5s; }

.gal-hover:hover {
  background-color: rgba(0, 0, 0, 0.7); }

.gal-hover-content {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  font-size: 100px;
  font-family: 'Montserrat';
  transition: all .5s;
  opacity: 0; }

.gal-hover-content:hover {
  opacity: 1; }

.about {
  width: 50%;
  min-width: 350px;
  margin: -100px auto 0 auto;
  padding: 100px 0 100px 0;
  background-color: #F4F4F4;
  box-shadow: 0 4px 16px -2px rgba(210, 213, 205, 0.4); }

.about-pic {
  width: 200px;
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  box-shadow: 0 4px 16px -2px #d2d5cd; }

.about-text {
  margin: auto;
  max-width: 800px;
  font-size: 20px;
  font-family: 'Assistant', sans-serif;
  padding: 40px 40px 0 40px; }

.experience {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 120px 0 150px 0; }

.skills,
.interests {
  font-family: 'Assistant', sans-serif;
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 50px 0 0 0; }

.experience h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  padding: 0 0 20px 0;
  color: #2E5771; }

.experience li {
  font-size: 20px; }

.interests {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end; }

@media screen and (max-width: 599px) {
  .interests {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; } }

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #1B3C44;
  padding: 20px 0 20px 0;
  border-top: 10px solid #B3BEBA; }

footer h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  letter-spacing: 5px;
  color: #EFFED7; }

.social-icons,
.contact-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0 20px 0;
  color: #EFFED7;
  width: 100%;
  max-width: 400px; }

@media screen and (max-width: 599px) {
  .social-icons,
  .contact-info {
    -ms-flex-pack: distribute;
        justify-content: space-around; }
  footer h2 {
    display: none; } }

.recent-button,
.recent-button:after {
  transition: 0.3s ease-in; }

.recent-container {
  text-align: center; }

.recent-button {
  border: solid 2px #EFFED7;
  color: #EFFED7;
  padding: 25px;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  position: relative;
  text-decoration: none; }

.recent-button:hover {
  color: #2E5771; }

.recent-button::after {
  z-index: -1;
  content: '';
  position: absolute;
  background-color: #EFFED7;
  height: 0;
  left: 50%;
  top: 50%;
  width: 0; }

.recent-button:hover:after {
  height: 100%;
  left: 0;
  top: 0;
  width: 100%; }

.social-icons a {
  color: #EFFED7; }

.social-icons a:visited {
  color: #B3BEBA; }

.social-icons a:hover,
.contact-info a:hover {
  color: #E6E081; }

.contact-info a {
  color: #EFFED7;
  font-size: 20px;
  text-decoration: none;
  font-family: 'Assistant', sans-serif; }
